@font-face {
    font-family:'HackNerdFontMono-Regular';
    src: url('https://raw.githubusercontent.com/Xite747/bd-theme-assets/blob/ca574c041b6583fdd45bc3418445e2e6cca4d19d/fonts/HackNerdFontMono-Regular.ttf'), format('truetype');
    font-style: normal;
    font-weight: 400;
}