@font-face {
  font-family: 'Hack';
  src: url('https://rawcdn.githack.com/Xite747/bd-theme-assets/22f68e61ac0f7e521c700409fe41ecfcad0c45a6/fonts/hack-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
